*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}


html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-Inter: 'Inter', sans-serif

}
